@model CheeseMVC.ViewModels.AddCheeseViewModel

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Cheese</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Cheese" asp-action="Add" method="post">

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Type"></label>
                <select asp-for="Type" asp-items="Model.CheeseTypes"></select>

            </div>
            <div class="form-group">
                <input type="submit" value="Add Cheese" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

