@model CheeseMVC.ViewModels.DeleteCheesesViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post">

    @foreach (Cheese cheese in Model.Cheeses)
    {
        <input type="checkbox" name="SelectedCheeses" id="@cheese.CheeseId" value="@cheese.CheeseId" />
        <label for="@cheese.CheeseId">@cheese.Name</label>
        <br />
    }

    <input type="submit" value="Remove Selected Cheese(s)" />
</form>